@if (personnages$ | async; as personnages) {
    
    <div class="header">
        <h2>Vos rencontres</h2>

        @if(personnages.length === 0) {
          <p>Vous n'avez encore rencontré aucun personnage.</p>
        }
    </div>

    <div class="personnage-grid">
      
      @for (p of personnages; track p.nom) {
        <div class="personnage-card"> 
            
          <a [routerLink]="['/personnages', p.nom]"> 
              
            <img [src]="p.portraitUrl" [alt]="'Portrait de ' + p.nom">

            <div class="info"> 
                <h3>{{ p.nom }}</h3>

                <p><strong>Age : </strong> <span class="stat-value">{{ p.age }}</span></p>
                <p><strong>Profession : </strong> <span class="stat-value">{{ p.profession }}</span></p>

              </div>
          </a>
        </div>
      }
      </div>
}