<h2>Panneau d'Administration des Personnages</h2>

<button (click)="basculerFiltre()">
  {{ afficherSeulementRencontre ? 'Afficher TOUS les personnages' : 'Afficher seulement les RENCONTRÉS' }}
</button>

<div class="admin-grid">
  @for (p of personnages$ | async; track p) {
    <div class="admin-card">
      <h3>{{ p.nom }}</h3>
      <p>{{ p.age }} ans</p>
      <p>{{ p.profession }}</p>
      <p>
      <strong
        style="cursor: pointer; user-select: none;"
        (click)="basculerRencontre(p)"
        [class.rencontre-oui]="p.rencontre"
        [class.rencontre-non]="!p.rencontre">
        {{ p.rencontre ? 'Rencontré' : 'Non rencontré' }}
      </strong>
    </p>
    @if(p.rencontre) {
    <hr>
      <div class="secrets-management">
        <h4>Secrets du MJ</h4>
        @if(p.secrets.length > 0) {
          <table class="secret-table">
            <thead>
              <tr>
                <th>Clé</th>
                <th class="col-revele">Révélé</th>
                <th>Détail</th>
              </tr>
            </thead>
            <tbody>
              @for (secret of p.secrets; track secret) {
                <tr [class.revele-active]="secret.debloque">
                  <td>{{ secret.cle }}</td>
                  <td class="col-revele">
                    <input type="checkbox"
                      [checked]="secret.debloque"
                      (change)="toggleSecret(p.nom, secret.cle)">
                  </td>
                  <td>
                    {{ secret.valeur }}
                  </td>
                </tr>
              }
            </tbody>
          </table>
        } @else {
          <p class="no-secret">Aucun secret défini.</p>
        }
        <ng-template #noSecrets>
          <p class="no-secret">Aucun secret défini.</p>
        </ng-template>
      </div>
    }
    </div>
  }
</div>