@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Creepster&display=swap');
/* --- Grille de Personnages --- */
.personnage-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem 0;
}

/* --- Carte de Personnage --- */
.personnage-card {
    background-color: var(--couleur-boite-info);
    border: 1px solid var(--couleur-bordure);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    position: relative;
}

.personnage-card:has(.croix-mort) img {
    filter: brightness(0.3) contrast(1.1);
    transition: filter 0.5s ease-in-out;
}

.personnage-card:has(.croix-mort) .nom-personnage {
    font-family: 'Nosifer', cursive;
    color: #8a0303;       
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}

/* Image du personnage */
.personnage-card img {
    width: 100%;
    height: 350px;
    object-fit: contain;
    display: block;
    border-bottom: 2px solid var(--couleur-accent-or);
    transition: filter 0.3s ease;
}

.image-container {
    position: relative;
    width: 100%;
}

.croix-mort {
    position: absolute;
    top: 0%;
    right: -13%;
    width: 125%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.croix-mort::before, .croix-mort::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 10px;
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.croix-mort::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.croix-mort::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Contenu de la carte */
.personnage-card .info {
    padding: 1.2rem;
}

.personnage-card h3 {
    font-family: var(--font-titre);
    color: var(--couleur-accent-or);
    font-size: 1.4em;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
}

.personnage-card p {
    font-family: var(--font-corps);
    color: var(--couleur-texte-primaire);
    font-size: 0.95em;
    margin-bottom: 0.5rem;
}

/* Effet au survol */
.personnage-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    border-color: var(--couleur-accent-or);
}

body {
    background-color: var(--couleur-fond-primaire);
    background-image: radial-gradient(rgba(168, 125, 58, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
}

@media (max-width: 600px) {
    .personnage-grid {
        /* Permet une meilleure adaptation sur mobile */
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    }
    .personnage-card img {
        /* Raccourcir la photo sur mobile si nécessaire */
        height: 280px; 
    }
}