@if (personnage$ | async; as personnage) {
    <div class="detail-card">
        <h2>{{ personnage.nom }}</h2>
        
        <div class="photo-wrapper">
            <img [src]="personnage.portraitUrl" 
                 [alt]="'Photo de ' + personnage.nom" 
                 class="personnage-photo">
        </div>

        <div class="stats-container">
            <p><strong>Age : </strong> <span class="stat-value">{{ personnage.age }}</span></p>
            <p><strong>Profession :</strong> <span class="stat-value">{{ personnage.profession }}</span></p>
        </div>
        
    <hr class="separator">

        <div class="revealed-secrets">
            <h3>Informations Révélées</h3>
            
            @if (getSecretsDebloques().length > 0) {
                <ul>
                    @for (secret of getSecretsDebloques(); track secret.cle) {
                        <li>
                            <span class="secret-key">{{ secret.cle }}:</span> 
                            <span class="secret-value">{{ secret.valeur }}</span>
                        </li>
                    }
                </ul>
            } @else {
                <p class="no-secret-message">Aucune information supplémentaire n'a été découverte à propos de ce personnage.</p>
            }
        </div>
        <a routerLink="/personnages" class="back-link">Retour à la liste des personnages</a>
    </div>
} @else {
    <div class="error-message">
        <p>Personnage inconnu. Êtes-vous sur de l'avoir déjà rencontré.</p>
    </div>
}