<header>
  <nav class="main-nav">
    <!-- <div class="logo">Contes de la Crypte</div> -->
    
    @if (authService.estConnecte()) {
      <ul>

        @if (!authService.estMJ()) {
          <li>
            <a routerLink="/"
               routerLinkActive="active-tab"
               [routerLinkActiveOptions]="{ exact: true }">
                Mon Perso
            </a>
          </li>
          <li>
            <a routerLink="/carte"
               routerLinkActive="active-tab">
                Carte
            </a>
          </li>
        }

        <li>
          <a routerLink="/lieu" 
            routerLinkActive="active-tab">
              Lieu
          </a>
        </li>
        
        <li>
          <a routerLink="/enquete"
            routerLinkActive="active-tab">
              Enquête
          </a>
        </li>

        <li>
          <a routerLink="/personnages" 
             routerLinkActive="active-tab">
              Rencontres
          </a>
        </li>

        <li>
          <a routerLink="/documents" 
             routerLinkActive="active-tab">
              Documents
          </a>
        </li>

        @if (authService.estMJ()) {
          <li>
            <a routerLink="/admin"
               routerLinkActive="active-tab">
                Admin
            </a>
          </li>
        }
      </ul>

      <li>
        <a (click)="onDeconnexion()" style="cursor: pointer;">
          Déconnexion
        </a>
      </li>
    }
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer></footer>